.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__link{
    transition: 0.5s;
    color: #333;
}
.header__link:hover{
    transition: 0.5s;
    color: #888888;
}
.header__time{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.header__time span{
    color: #888888;
}

.logo{
    width: 40px;
    height: 40px;
    display: block;
    background: #376bff;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: help;
    transition: 0.5s;
}
.logo:hover{
    border: 2px solid silver;
    transition: 0.5s;
}


.burger-menu{
    display: none;
}

@media (max-width: 900px) {
    /* Базові стилі для кнопки бургер-меню */
    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
        height: 20px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    .bar1, .bar2, .bar3 {
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .bar1 {
        transform-origin: top left;
    }

    .bar3 {
        transform-origin: bottom left;
    }

    /* Стан активного меню */
    /*.burger-menu.active .bar1 {*/
    /*    transform: rotate(45deg);*/

    /*    transform-origin: center;*/
    /*}*/

    /*.burger-menu.active .bar2 {*/
    /*    opacity: 0;*/
    /*}*/

    /*.burger-menu.active .bar3 {*/
    /*    transform: rotate(-45deg);*/
    /*    transform-origin: center;*/
    /*}*/

}

@media (max-width: 900px) {
    .header__list{
        display: none;
    }
    .burger-menu{
        display: flex;
    }
}